<main [class]="theme">
  <div class="chart-col">
    <div style="position: absolute; top: 50px; left: 50px; right: 50px; bottom: 50px;">
      <ngx-graph
        class="chart-container"
        [view]="view"
        [autoZoom]="autoZoom"
        [legend]="showLegend"
        [links]="hierarchialGraph.links"
        (legendLabelClick)="onLegendLabelClick($event)"
        [nodes]="hierarchialGraph.nodes"
        [scheme]="colorScheme"
        [orientation]="orientation"
        [curve]="curve"
        (select)="select($event)">

        <ng-template #defsTemplate>
          <svg:marker id="arrow" viewBox="0 -5 10 10" refX="8" refY="0" markerWidth="4" markerHeight="4" orient="auto">
            <svg:path d="M0,-5L10,0L0,5" class="arrow-head" />
          </svg:marker>
        </ng-template>


		
        <ng-template #nodeTemplate let-node>
          <svg:g class="node"
            ngx-tooltip
            [tooltipPlacement]="'top'"
            [tooltipType]="'tooltip'"
            [tooltipTitle]="node.label">
			<svg >
		     	<path d="M10.544,8.717l1.166-0.855l1.166,0.855l-0.467-1.399l1.012-0.778h-1.244L11.71,5.297l-0.466,1.244H10l1.011,0.778L10.544,8.717z M15.986,9.572l-0.467,1.244h-1.244l1.011,0.777l-0.467,1.4l1.167-0.855l1.165,0.855l-0.466-1.4l1.011-0.777h-1.244L15.986,9.572z M7.007,6.552c0-2.259,0.795-4.33,2.117-5.955C4.34,1.042,0.594,5.07,0.594,9.98c0,5.207,4.211,9.426,9.406,9.426c2.94,0,5.972-1.354,7.696-3.472c-0.289,0.026-0.987,0.044-1.283,0.044C11.219,15.979,7.007,11.759,7.007,6.552 M10,18.55c-4.715,0-8.551-3.845-8.551-8.57c0-3.783,2.407-6.999,5.842-8.131C6.549,3.295,6.152,4.911,6.152,6.552c0,5.368,4.125,9.788,9.365,10.245C13.972,17.893,11.973,18.55,10,18.55 M19.406,2.304h-1.71l-0.642-1.71l-0.642,1.71h-1.71l1.39,1.069l-0.642,1.924l1.604-1.176l1.604,1.176l-0.642-1.924L19.406,2.304z" />
			</svg>
					
				
            <svg:circle [attr.r]="node.width/2" [attr.cx]="node.width/2" [attr.cy]="node.width/2" [attr.fill]="node.options.color" >
			</svg:circle>	

	<svg [attr.width]="node.width"  [attr.height]="node.height" viewBox="0 0 47.5 47.5">
       
	   <path d="M23.75 0C36.867 0 47.5 10.633 47.5 23.75S36.867 47.5 23.75 47.5 0 36.867 0 23.75 10.633 0 23.75 0zM12.608 10.262l-2.346 10.556s2.346-1.173 7.037-1.173c1.813 0 3.45.875 5.047 1.95l3.35-11.55c-1.483-1.154-3.182-2.128-6.05-2.128-5.865 0-7.038 2.345-7.038 2.345zm21.111 3.519c-2.917 0-4.625-1.008-6.126-2.188l-3.298 11.372c1.873 1.326 3.767 2.544 5.906 2.544 4.691 0 7.037-2.345 7.037-2.345l3.518-11.729s-1.173 2.346-7.037 2.346zM9.09 24.336L6.745 34.892s2.346-1.173 7.037-1.173c1.634 0 3.125.712 4.574 1.639l3.36-11.586c-1.38-.996-3.013-1.781-5.588-1.781-5.865 0-7.037 2.345-7.037 2.345zm21.112 3.519c-3.217 0-4.963-1.225-6.583-2.556L20.31 36.707c2.027 1.447 4.057 2.876 6.373 2.876 4.691 0 7.037-2.345 7.037-2.345l3.519-11.729s-1.173 2.346-7.037 2.346z" fill="#0060A9"/>
	</svg>				
            <svg:text alignment-baseline="central" [attr.x]="10" [attr.y]="node.height / 2">ABCD </svg:text>
          </svg:g>
        </ng-template>

        <ng-template #linkTemplate let-link>
          <svg:g class="edge">
            <svg:path
              class="line"
              stroke-width="2"
              marker-end="url(#arrow)" >
            </svg:path>
            <svg:text class="edge-label" text-anchor="middle">
              <textPath
                class="text-path"
                [attr.href]="'#' + link.id"
                [style.dominant-baseline]="link.dominantBaseline"
                startOffset="50%">
                {{link.label}}
              </textPath>
            </svg:text>
          </svg:g>
        </ng-template>

      </ngx-graph>
    </div>
  </div>
  <div class="sidebar">
    <h1>
      NGX-<strong>Graph</strong>
      <small class="subtitle">Graph Visualization for Angular</small>
    </h1>

    <div class="sidebar-body">
      <h3>Theme</h3>
      <select
        [ngModel]="theme"
        (ngModelChange)="theme = $event">>
        <option [value]="'dark'">Dark</option>
        <option [value]="'light'">Light</option>
      </select>

      <h3 (click)="dataVisable = !dataVisable" style="cursor: pointer">
        <span
          [class.arrow-down]="dataVisable"
          [class.arrow-right]="!dataVisable">
        </span>
        <strong>Data</strong>
      </h3>
      <div [hidden]="!dataVisable" style="margin-left: 10px;">
        <div>
          <label>
            <input type="checkbox" [checked]="realTimeData" (change)="realTimeData = $event.target.checked">
            Real-time
          </label>
        </div>
      </div>
      <div>
        <h3 (click)="dimVisiable = !dimVisiable" style="cursor: pointer">
          <span
            [class.arrow-down]="dimVisiable"
            [class.arrow-right]="!dimVisiable">
          </span>
          <strong>Dimensions</strong>
        </h3>
        <div [hidden]="!dimVisiable" style="margin-left: 10px;">
          <label>
            <input type="checkbox" [checked]="fitContainer" (change)="toggleFitContainer($event.target.checked, autoZoom)">
            Fit Container
          </label> <br />
          <div *ngIf="!fitContainer">
            <label>Width:</label><br />
            <input type="number" [(ngModel)]="width"><br />
            <label>Height:</label><br />
            <input type="number" [(ngModel)]="height"><br />
            <button (click)="applyDimensions()">Apply dimensions</button>
          </div> <br />
          <label>
            <input type="checkbox" [checked]="autoZoom" (change)="toggleFitContainer(fitContainer, $event.target.checked)">
            Auto Zoom
          </label>
        </div>
      </div>
      <h3 (click)="colorVisible = !colorVisible" style="cursor: pointer">
        <span
          [class.arrow-down]="colorVisible"
          [class.arrow-right]="!colorVisible">
        </span>
        <strong>Color Scheme</strong>
      </h3>
      <select
        [hidden]="!colorVisible"
        style="margin-left: 10px;"
        [ngModel]="selectedColorScheme"
        (ngModelChange)="setColorScheme($event)">
        <option *ngFor="let scheme of colorSets" [value]="scheme.name">{{scheme.name}}</option>
      </select>

      <h3 (click)="optsVisible = !optsVisible" style="cursor: pointer">
        <span
          [class.arrow-down]="optsVisible"
          [class.arrow-right]="!optsVisible">
        </span>
        <strong>Options</strong>
      </h3>
      <div [hidden]="!optsVisible" style="margin-left: 10px;">
        <label>Orientation</label>
        <select [(ngModel)]="orientation">
          <option *ngFor="let orient of orientations" [value]="orient.value">{{orient.label}}</option>
        </select>

        <label>Line Interpolation</label>
        <select
          [ngModel]="curveType"
          (ngModelChange)="setInterpolationType($event)">
          <option *ngFor="let interpolationType of interpolationTypes" [value]="interpolationType">
            {{interpolationType}}
          </option>
        </select>

      </div>
    </div>
  </div>
</main>
